*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Gilroy;
    src: url(./Gilroy-Medium.ttf);
}

* ::selection{
    color: white;
    background-color: black;
}

body{
    background-color: #f7f7f7;

}

html, body{
    height: 100%;    
    width: 100%;
}


/* /navbar */
#nav {
    /* height: 100px; */
    width: 100%;
    /* background-color: burlywood; */
    position: fixed;
    z-index: 99;
    padding: 25px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}


#logo img{
  height: 90px;
  width: 100% ;
}


#nav-part1{
    height: 82px;
    overflow: hidden;
}

#nav-part1 svg{
    display: block;
}

#nav #nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

#nav-part2 #links a{
     text-transform: uppercase;
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 14px;
    margin: 0 20px;
}

#nav-part2 #icons i {
    font-size: 18px;
    margin: 0 20px;
    font-weight: 100;
}

#links{
    padding: 10px;
}

#icons{
    padding: 10px;
    border-radius: 50px;
    background-color: #F7F7F7;
}

/* page 1 */
#page1 {
    text-align: center;
    min-height: 100vh;
    /* background-color: aqua; */
    position: relative;
    width: 100%;
    padding: 0 1vw;
    padding-top: 20vh;

}

#page1 h1 {
    font-size: 13.8vw;
    text-transform: uppercase;
    font-family: futura;
    line-height: 14vw;
    letter-spacing: -8px;
}


  /* page7 */
  #page7 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    width: 100%;
    gap: 2rem;
    border-bottom: 2px solid #000;
  }
  
  #page7 > div > p {
    font-size: 0.9rem;
    margin: 1rem 0;
    color: #3f3f3f;
  }
  
  #page7 > div > ul {
    list-style: none;
    display: flex;
    line-height: 1.5rem;
    font-size: 0.9rem;
    margin: 1rem 0;
    font-family: "Futura";
    flex-direction: column;
  }
  
  #page7 > div > img {
    width: 20rem;
  }
@media screen and (max-width: 768px) {

  
  #page-header p{
    margin-left: 100px;
    margin-top: 319px;
    position: absolute;
    color: white;
      text-align: left;
  }
  #page-header h2 {
    position: absolute;
    margin-left: 100px;
    margin-top: 283px;
    color: white;
    text-align: left;
  }
    .child > img {
        height: 200px;
        width: 70%;
        z-index: 2;
    }
  }
  
  @media screen and (max-width: 600px) {
    #page1 {
      width: 100%;
      min-height: 45vh;
      padding: 0 3vw;
      padding-top: 25vh;
  }
    #page-header p{
      margin-left: 100px;
      margin-top: 319px;
      position: absolute;
      color: white;
        text-align: left;
    }
    #page-header h2 {
      position: absolute;
      margin-left: 100px;
      margin-top: 283px;
      color: white;
      text-align: left;
    }
    #logo img{
        height: 70px;
        width: 100% ;
    }
    .child > img {
        height: 200px;
        width: 70%;
        z-index: 2;
    }
    #nav {
      padding: 15px;
    }
    #links {
      display: none;
    }
  
    #nav-part1 {
      height: 62px;
    }
    #nav-part1 > svg {
      height: 62px;
      width: 80px;
    }
    #nav > #nav-part2 > #icons > i {
      font-size: 18px;
      margin: 0;
    }
    #icons {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 30px;
    }
  
    #page7 > div > img {
      width: 10rem;
    }
  }
  
  @media screen and (max-width: 426px) {
    #page-header p{
      margin-left: 100px;
      margin-top: 319px;
      position: absolute;
      color: white;
        text-align: left;
    }
    #page-header h2 {
      position: absolute;
      margin-left: 100px;
      margin-top: 283px;
      color: white;
      text-align: left;
    }
    #logo img{
        height: 70px;
        width: 100% ;
    }
    
  
    #page7 > div > img {
      width: 5rem;
    }
    #page7 {
      gap: 1rem;
    }
    .page6-img-1,
    .page6-img-2,
    .page6-text {
      width: auto !important;
    }
  }

      /* Responsive Styles */
      @media screen and (max-width: 600px) {
        #product1 .pro img {
          height: auto !important;
          width: 100%;
          border-radius: 20px;
      }
        
        #product1 .pro-container{
          padding: 14px;
          display: flex;
          justify-content: space-between;
          padding-top: 20px;
          /* align-content: space-between; */
          flex-wrap: wrap;
        }
        #page-header p{
          margin-left: 100px;
          margin-top: 319px;
          position: absolute;
          color: white;
            text-align: left;
        }
        #page-header h2 {
          position: absolute;
          margin-left: 100px;
          margin-top: 283px;
          color: white;
          text-align: left;
        }
  
        #pdetails .parada-image  {
          width: 40%;
          margin-right: 50px;
          margin-top: 150px;
      }
        .add-to-cart-btn {
          font-size: 14px;
          padding: 8px 16px;
        }
      }
  
/* Parada product */

#pdetails{
  display: flex;
  margin-top: 20px;
}

  #pdetails .parada-image {
    width: 40%;
    margin-right: 50px;
    margin-top: 85px;
  }

  .small-img-grp{
        display: flex;
        justify-content: space-between;
  }

  .small-img-col{
    flex-basis: 24%;
    cursor: pointer;
  }

  #pdetails .parada-details{
    margin-top: 150px;
    width: 50%;
    padding-top: 30px;
  }

  #pdetails .parada-details h4{
    padding: 40px 0 20px 0 ; 
   }

   #pdetails .parada-details h2{
    font-size: 26px;   
  }


  #pdetails .parada-detail select {
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
  }

  #pdetails .parada-detail input {
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
  }


  #pdetails .parada-detail span{
    line-height: 25px;
  }
   

  .sign{
    border-bottom: 2px solid #000;
    font-size: 0.9rem;
    font-family: "Futura";
    margin: 1rem 0.5rem;
  }



  /* <!-- Banner Section --> */

  #page-header img{
    width: 100%;
    /* height:300px; */
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
  }

  #page-header p{
    margin-left: 100px;
    margin-top: 319px;
    position: absolute;
    color: white;
      text-align: left;
  }
  #page-header h2 {
    position: absolute;
    margin-left: 100px;
    margin-top: 283px;
    color: white;
    text-align: left;
  }


  /* Product  */


  #product1{
    text-align: center;
  }

  #product1 .pro-container{
    padding: 60px;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    /* align-content: space-between; */
    flex-wrap: wrap;
  }

  #product1 .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
  }

  #product1 .pro img{
    height: 375px;
    width: 100%;
    border-radius: 20px;
  }


  #product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0,0,0,0.06);

  }

  #product1 .pro .des{
    text-align: start;
    padding: 10px 0;
  }

  #product1 .pro .des span{
    color: #606063;
    font-size: 12px;
  }

  #product1 .pro .des h5{
    padding-top:7px ;
    color: #000;
    font-size: 14px;
  }

  #product1 .pro .des i{
    font-size: 12px;
  }

  #product1 .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: black;
  }

  #product1 .pro .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: black;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 20px;
  }



